.hero_sec {
  padding-bottom: 10rem;
  background-size: cover;
  background-position: center;
  background-image: url("/hero_bg.png");
}

.hero_sec h1 {
  color: white;
  font-size: 5rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -5px;
}

.hero_video {
  padding: 6rem;
  aspect-ratio: 1;
  color: #cf2d31;
  font-size: 1.5rem;
  text-align: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/hero_video_bg.png");
}

.hero_video video {
  border-radius: 15px;
}

.testimonial_video {
  aspect-ratio: 9/16;
  border-radius: 1rem;
}

.recent_projects {
  display: flex;
  padding: 1rem;
  aspect-ratio: 1;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  border: 3px dashed #cf2d31;
  background-color: rgba(207, 45, 49, 0.1);
}

.dev_video {
  aspect-ratio: 8/16;
  border-radius: 10px;
  border: 5px solid #cf2d31;
  background-color: #cf2d31;
}

.offices {
  height: 600px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.85);
}
