.tab_sec {
  background-size: cover;
  background-image: url("/tab_bg.png");
}

.tab_grid {
  width: 90vw;
  gap: 0.5rem;
  margin: auto;
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(7, 1fr);
}
